<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Somke" >
    <classes>
       <class name="com.test.InvocationCount" />
       <class name="com.test.ExceptionTimeout" />
    </classes>
  </test>
 <test name="Regression">
    <classes>
      <class name="com.GoogleTest"/>
       </classes>
  </test>
</suite>
